.header {
  padding: 26px 0;

  @include mobile {
    padding: 15px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 32px;

    @include desktop {
      grid-template-columns: 1fr 2fr 1fr;
    }

    @include laptop {
      grid-template-columns: 1fr 3fr 2fr;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 25px;
    }
  }

  &__logo-link {
    justify-self: start;
  }

  &__logo {
    display: block;

    @include mobile {
      width: 56px;
    }
  }

  &__search {
    max-width: 818px;
    justify-self: center;

    @include desktop {
      max-width: 600px;
      justify-self: start;
    }

    @include laptop {
      max-width: 100%;
    }

    @include tablet {
      order: 1;
      grid-column: span 2;
    }
  }

  &__nav {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 330px;
    width: 100%;

    @include mobile {
      max-width: 212px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    transition: color .3s ease-in-out;

    &:hover {
      color: $color-main;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__cart {
    transition: color .3s ease-in-out;

    &:hover {
      color: $color-main;
    }
  }
}