html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  color: $color-primary;
  background: $color-secondary;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
Пример контейнера
Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1880px;
  padding: 0 30px;
  margin: 0 auto;

  @include desktop {
    max-width: 1480px;
  }

  @include laptop {
    max-width: 1000px;
    padding: 0 15px;
  }

  @include tablet {
    max-width: 670px;
  }

  @include mobile {
    max-width: 320px;
    padding: 0 10px;
  }

  &__cart {
    padding: 0;
  }
}

.main {
  padding: 44px 0 120px;

  @include tablet {
    padding: 24px 0 80px;
  }

  @include mobile {
    padding-top: 35px;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;

  @include mobile {
    font-size: 30px;
  }
}

.preload {
  position: absolute;
  inset: 0;
  z-index: 100;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transform: rotate(0);
    animation: rotation 1s infinite linear;
  }
}