$color-primary: #272727;
$color-secondary: #fff;
$color-main: #04e277;
$color-main-sub: #0bd072;
$color-main-dark: #197c00;
$color-grey: #6f6f6f;
$color-grey-light: #cdcdcd;

$desktop: 1600px;
$laptop: 1200px;
// $tablet: 768px;
$tablet: 1000px;
$mobile: 560px;

// миксины

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
