.goods-item {
  min-height: 450px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @include laptop {
    min-height: 420px;
  }

  @include mobile {
    min-height: 252px;
  }

  &__img {
    width: 100%;
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 5px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;

    @include mobile {
      font-size: 14px;
    }
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-right: 40px;

    @include tablet {
      padding-right: 15px;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 10;

    }
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    @include mobile {
      font-size: 14px;
    }
  }

  &__to-cart {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    border: 1px solid $color-primary;
    padding: 8px 20px;
    transition: 0.3s ease-in-out;

    @include mobile {
      font-size: 12px;
    }

    &:hover {
      background: $color-main;
      border: 1px solid $color-main;
    }
  }
}