.filter {
  max-width: 340px;
  padding-top: 54px;

  @include tablet {
    display: none;
  }

  &__form {
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 30px;

    @include tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__field-list {
    margin-bottom: 40px;
  }

  &__field {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__field-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__label-select {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background: url(img/down-arrow.svg) no-repeat;
      width: 15px;
      height: 9px;
      top: 40%;
      right: 35px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &_column {
      flex-direction: column;
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__input {
    width: 165px;
    font-size: 16px;
    line-height: 1.2;
    padding: 0 10px;
    border: 1px solid $color-primary;
    height: 38px;

    @include laptop {
      width: 145px;
    }

    &_select {
      width: 100%;
      color: $color-grey;
      appearance: none;
      cursor: pointer;
    }

    &::placeholder {
      color: $color-grey;
    }
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__apply {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-secondary;
    background: $color-primary;
    padding: 8px 20px;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;

    &:hover {
      background: $color-main;
      border: 1px solid $color-main;
    }
  }

  &__reset {
    position: absolute;
    top: 5px;
    right: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-grey;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}