.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-size: 18px;
  line-height: 1.2;

  &__arrow {
    background: url(img/arrow.svg) no-repeat;
    width: 18px;
    height: 18px;

    &[href=""] {
      opacity: 0.3;
      pointer-events: none;
    }

    &_start {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {}

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid transparent;
    border-radius: 2px;

    &_active {
      border: 2px solid $color-main;
    }
  }
}