.cart {
  &__title {
    margin-bottom: 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
    gap: 70px 30px;

    @include desktop {
      grid-template-columns: 2.5fr 1.5fr;
      column-gap: 78px;
    }

    @include laptop {
      grid-template-columns: 1fr;
    }
  }
}
