.item {
  display: flex;
  align-items: flex-start;

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    flex-basis: 353px;
    margin-right: 25px;
    padding-top: 28px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    min-height: 54px;
    margin-bottom: 14px;
  }

  &__vendor-code {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }

  &__control {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__count {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
  }

  &__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $color-primary;
    font-size: 30px;
    line-height: 1;
  }

  &__number {
    font-size: 30px;
    line-height: 1.2;
  }

  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
  }

  &__remove-cart {
    width: 32px;
    height: 32px;
    color: $color-grey-light;
  }
}