.total {
  @include laptop {
    order: 3;
    margin: 0 auto;
  }

  &__container {
    @include mobile {
      padding: 0;
    }
  }

  &__wrapper {
    border: 1px solid $color-grey;
    border-radius: 20px;
    padding: 40px 20px;

    @include laptop {
      max-width: 494px;
    }

    @include mobile {
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      padding: 15px 0 25px;
    }
  }

  &__table {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 10px;
    margin-bottom: 20px;

    @include mobile {
      font-size: 14px;
    }

    &:nth-child(4) {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_header {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      border-bottom: 1px solid $color-grey-light;
      padding-bottom: 9px;
      margin-bottom: 27px;

      @include mobile {
        font-size: 18px;
      }
    }

    &_grey {
      color: $color-grey;
    }
  }

  &__order {
    display: flex;
    justify-content: space-between;
    gap: 17px;

    @include desktop {
      flex-direction: column;
      gap: 20px;
    }

    @include mobile {
      gap: 15px;
    }
  }

  &__submit {
    flex-basis: 53%;
    height: 57px;
    background: $color-main;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $color-secondary;
    padding: 16px 0;
    transition: 0.3s ease-in-out;

    @include mobile {
      font-size: 12px;
    }

    &:hover {
      background: $color-main-sub;
    }
  }

  &__agree {
    flex-basis: 44%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: $color-grey;

    @include mobile {
      font-size: 12px;
    }
  }

  &__link-agree {
    color: $color-primary;
  }
}
